# Copy this file to .env.local and change paths if you do not want to use
# the default input/ and output/ directories included with the project.
LIS_INPUT_DIR="$HOME/Movies/Lost in Space/Input"
LIS_OUTPUT_DIR="$HOME/Movies/Lost in Space/Colorized"
